.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: auto;
}

.navbar p {
  color: white;
  margin: 10px;
}

.navbar img {
  margin: 10px;
  width: 2%;
  height: auto;
}

.hero {
  text-align: center;
  padding: 15%;
  color: white;
}

.hero h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.techBlock {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10%;
  padding-bottom: 18%;
  color: white;
}

.techBlock h2 {
  font-size: 32px;
  margin-bottom: 10%;
}

.techList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.techList a:hover {
  cursor: pointer;
  color: #007bff;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10%;
}

.card {
  width: 18vw;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.card:hover {
  background-color: #696969;
  border: 3px solid #696969;
}

.card img {
  height: 8vh;
  padding: 2px;
  border-radius: 10px;
  object-fit: cover;
}

.footer {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb(8, 8, 8);
}

.footer p {
  color: gray;
}
