/*CSS für alle Seiten außer webex2 (CSS für Klassen)*/

/*Navbar*/
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between; /*Flexbox für Navbar*/
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: fixed; /*Sticky*/
  width: 100%;
  height: auto;
}

.navbar p {
  color: white;
  margin: 10px;
}

.navbar img {
  margin: 10px; /*Navbar*/
  width: 18%;
  height: auto;
}

/*Hero Section*/
.hero {
  text-align: center;
  padding: 15%;
  padding-bottom: 5%;
  color: white;
}

.hero h1 {
  font-size: 32px;
  padding-bottom: 10px;
}

/*Technologien Liste (Homepage)*/
.techBlock {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10%;
  padding-bottom: 18%;
  color: white;
}

.techBlock h2 {
  font-size: 32px;
  margin-bottom: 10%;
}

.techList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.techList a:hover {
  cursor: pointer;
  color: #007bff; /*Bei Hover schöne Farbe*/
}

/*Cards für Homepage*/
.container {
  display: flex;
  justify-content: space-between;
  padding: 8%;
}


.card {
  width: 15vw;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.card:hover {/*Hover Effect für Card*/
  background-color: #696969; 
  border: 3px solid #696969;
}

.card img {
  height: 8vh;
  padding: 2px;
  border-radius: 10px;
  object-fit: cover;
}

/*Wetter-Daten*/
.weatherUI{
  height: 55vh;
}

.weatherHead{
  display: center;
  text-align: center;
  color: white;
  padding: 1%;
}

.weatherItem {
  padding: 4%;
  width: 16vw;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(38, 41, 50));
  border-radius: 10px;
}

.weatherList{
  display: flex; /*Flexbox für Wetter-Items*/
  justify-content: space-between;
  padding: 5%;
  color: white;
}

/*HTML-Canvas*/
.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

/*RSS-Nachrichten*/
.newsItem {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 2%;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: black;
  color: gainsboro;
}

.newsItem a{
  color: rgb(118, 170, 249);
}

.newsImage img {
  width: 20vw;
  height: 24vh;
  object-fit: cover;
  border-radius: 10px;
}

/*Footer*/
.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb(8, 8, 8);
}

.footer p {
  color: gray;
}

/*Media Query für Responsiveness*/
@media (max-width: 720px) {
  .hero h1 {
    padding-top: 25px;
    font-size: 24px;
  }

  .techBlock h2 {
    font-size: 25px;
  }

	.container {
    flex-direction: column; /*Cards sind dann untereinander*/
    align-items: center;
  }

  .card {
    width: 75vw; /*Größe der Cards anpassen*/
    margin-bottom: 10%;
  }

  .content {
    width: 80vw;
  }

  .weatherUI {
    height: auto;
  }

  .weatherList {
    flex-direction: column; /*Wetter-Daten sind dann untereinander*/
    justify-content: center;
    padding: 10%;
  }

  .weatherItem {
    width: 80vw;
    margin-bottom: 10%;
  }

  .newsItem {
    font-size: x-small; /*Kleinere Schriftgröße sonst nicht responsive*/
    padding: 4%;
    margin-bottom: 7%;
  }
  
  .newsImage img {
    width: 22vw;
    height: 10vh;
    object-fit: cover;
    border-radius: 10px;
  }
}
