.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: auto;
}

.navbar p {
  color: white;
  margin: 10px;
}

.navbar img {
  margin: 10px;
  width: 18%;
  height: auto;
}

.hero {
  text-align: center;
  padding: 15%;
  padding-bottom: 5%;
  color: white;
}

.hero h1 {
  font-size: 32px;
  padding-bottom: 10px;
}

.techBlock {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10%;
  padding-bottom: 18%;
  color: white;
}

.techBlock h2 {
  font-size: 32px;
  margin-bottom: 10%;
}

.techList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.techList a:hover {
  cursor: pointer;
  color: #007bff;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 8%;
}


.card {
  width: 15vw;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.card:hover {
  background-color: #696969;
  border: 3px solid #696969;
}

.card img {
  height: 8vh;
  padding: 2px;
  border-radius: 10px;
  object-fit: cover;
}

.weatherUI{
  height: 55vh;
}

.weatherHead{
  display: center;
  text-align: center;
  color: white;
  padding: 1%;
}

.weatherItem {
  padding: 4%;
  width: 16vw;
  background-color: #6793d696;
  border-radius: 10px;
}

.weatherList{
  display: flex;
  justify-content: space-between;
  padding: 5%;
  color: white;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.newsItem {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 2%;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: black;
  color: gainsboro;
}

.newsItem a{
  color: rgb(118, 170, 249);
}

.newsImage {
  width: 20%;
  height: auto;
}

.newsImage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb(8, 8, 8);
}

.footer p {
  color: gray;
}

@media (max-width: 720px) {
  .hero h1 {
    padding-top: 25px;
    font-size: 24px;
  }

  .techBlock h2 {
    font-size: 25px;
  }

	.container {
    flex-direction: column;
    justify-content: center;
  }

  .card {
    width: 80vw;
    margin-bottom: 10%;
  }

  .content {
    width: 80vw;
  }

  .weatherUI {
    height: auto;
  }

  .weatherList {
    flex-direction: column;
    justify-content: center;
    padding: 10%;
  }

  .weatherItem {
    width: 80vw;
    margin-bottom: 10%;
  }

  .newsItem {
    font-size: x-small;
    padding: 4%;
    margin-bottom: 7%;
  }
  
  .newsImage {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
  }
  
  .newsImage img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
